body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 856px;
  margin: auto;
}

header {
  background-color: #f1f1f1;
  height: 60px;
}

.menu-icon {
  display: none;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-list {
  display: flex;
  column-gap: 20px;
}

.nav-text {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

h1 {
  font-size: 56px;
}

.main-class {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  padding: 90px 55px;
}

.main-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  padding: 40px 0px 38px 0px;
}

button {
  width: 208px;
  height: 47px;
  background-color: #ff6464;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.recent-posts {
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243d;
}

.view-all {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #00a8cc;
}

.view-all {
  font-weight: 400;
  font-size: 16px;
  line-height: 100px;
}

.recent-posts-view-all {
  padding: 0px 55px 0px 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-one {
  background-color: #edf7fa;
}

.div-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 55px;
  column-gap: 25px;
}

.h-left-right {
  font-weight: 700;
  font-size: 26px;
  line-height: 100%;
  margin-bottom: 17px;
  color: #21243d;
}

.col {
  width: 366px;
  height: 250px;
}

.p-left-right {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #21243d;
}

.p-class {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #21243d;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.card-1 {
  padding-left: 18px;
}

.pppppppppp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
}

.h3-div {
  padding: 15px 0px 22px;
}

.parents-div {
  padding: 20px 55px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}
.year-div {
  border-radius: 16px;
  background-color: #142850;
  width: 62px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.p-year {
  color: #fff;
}

.futer-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 25%;
}

.last-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.last-p{
  font-weight: 400;
  font-size: 14px;

}

@media (max-width: 768px) {
  .container {
    padding: 0px 16px;
  }

  .main-class {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    row-gap: 34px;
  }
}

@media (max-width: 600px) {
  .main-class {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    row-gap: 34px;
    padding-top: 90px;
  }
  .menu-icon {
    display: block;
  }

  .header-nav {
    display: none;
  }
}
